.week-button {
  vertical-align: middle;
}

.week-button:hover {
  background-color: #728888;
}

.time-cells:hover {
  background-color: #728888;
}

@media (min-width: 1024px) {
  #time {
    margin-top: 95px;
  }
}
@media (max-width: 1023px) {
  #time {
    margin-top: 65px;
  }
}
