.admin_page {
  font-family: eb-garamond, serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #727171;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  color: #fff;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 0.05em;
}
.header__reserve__link {
  font-family: eb-garamond, serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  /* position: relative; */
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 44px;
}

/* .header__reserve {
  position: absolute;
  right: 40px;
  top: 25px;
  width: 200px;
  height: 400px;
} */
.header__reserve__link {
  /* display: block; */
  width: 45%;
  height: 150px;
  border-radius: 20px;
  /* position: relative; */
  border: 1px solid rgb(0, 0, 0);
  margin-top: 10%;
  /* margin-bottom: 10%; */
}

body:not(.touch) .header__reserve__link:hover {
  background-color: #fff;
  color: #727171;
}

.menus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
}
