header {
  width: 100%;
  height: 60px;
  background-color: #727171;
  vertical-align: middle;
  text-align: right;
  background-image: url(https://user-images.githubusercontent.com/98013294/177288142-baffb92c-6129-4109-8dd0-9d1084bfa4db.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px;
  position: fixed;
  top: 0;
  z-index: 1000px;
}

.user {
  vertical-align: middle;
  font-size: 5px;
}

.sign_out {
  padding: 3px 0 0;
  width: 8%;
  border: 1px solid #fff;
  background-color: #727171;
  color: white;
  font-size: small;
  vertical-align: middle;
  margin-left: 1%;
  margin-right: 0.5px;
}
